* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 1rem;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 20vh;
    margin: 0.3rem auto;
    
}

#prob1, #prob2, #prob3, #prob4 {
    border: 2px solid black;
    flex-direction: column;
}

button {
    width: 5rem;
}
